JWT_SECRET=YOUR_JWT_HASH
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
HASH_SECRET=YOUR_HASH_SECRET_NUMBER

DATABASE_HOST=YOUR_DB_HOST
DATABASE_USERNAME=YOUR_DB_USERNAME
DATABASE_PASSWORD=YOUR_DB_PWD
DATABASE_POST=YOUR_DB_CONNEXION_PORT
DATABASE_NAME=YOUR_DB_NAME